@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GOLFB4NAFTER</h1>
    <p class="lead">A Rapid prototype for a Golf event management system.</p>
</div>

<div>
    <table>
        <tr><th>Admin Links (CRUD)</th></tr>
        <tr>
            <th><a id="courseLink" href="/CourseDatas">Course Data</a></th>
        </tr>
        <tr>
            <th><a id="geoDatasLink" href="/GeoDatas">Geo/GPS Data</a></th>
        </tr>
        <tr>
            <th><a id="geoObjectTypesLink" href="/GeoObjectTypes">Object Types</a></th>
        </tr>
        <tr>
            <th><a id="geoSpatialTablesLink" href="/GeoSpatialTables">GPS Data points</a></th>
        </tr>
        <tr>
            <th><a id="holesLink" href="/Holes">Holes Data</a></th>
        </tr>
        <tr>
            <th><a id="lablesLink" href="/Labels">Item Labels Data</a></th>
        </tr>
    </table>



</div>